html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Specific styling for logo */
.logo {
    width: 150px; /* Set specific width for logo */
    height: auto; /* Maintain aspect ratio */
    /* Add additional styling if needed */
}

/* General Reset */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
}

.carousel-img {
    height: 400px;
}